.hero-section {
  display: flex;
  flex-direction: row;
  height: 570px;
  align-items: center;
  justify-content: space-between;
  background-color: #e0f7fa;
  padding: 10px 75px;
}

.hero-container {
  flex: 1;
  max-width: 600px;
}

.hero-title {
  font-size: 3rem;
  margin: 0;
  color: #004080;
}

.hero-subtitle {
  font-size: 1.25rem;
  margin-top: 10px;
  color: #333;
}

.image {
  flex-shrink: 0;
}

.hero-image {
  max-width: 300px;
  border-radius: 50%;
}
