.navigation-section {
  background-color: #0077cc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  color: #fff;
}
.logo-container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
}
.nav-logo {
  height: 30px;
  width: auto;
}
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin: 0 20px;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 10px;
  display: block;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: #005fa3;
}
.nav-list a:active {
  color: #ffcc00;
}
